{% extends 'components/layout.html' %} 

{% block rightcol %}
<h1> Manchester City beat Sporting Lisbon in the Champions League ROund of 16</h1>
<h3>The final score was {{ mcfg }}-{{ sig }} on aggregate</h3>
<img src="https://i.kym-cdn.com/photos/images/newsfeed/001/430/367/007.gif" alt="...." class="img-fluid">
{% endblock rightcol %} 

{% block leftcol %}
<h1> Manchester City beat Sporting Lisbon in the Champions League ROund of 16</h1>
<h3>The final score was {{ mcfg }}-{{ sig }} on aggregate</h3>
<img src="https://i.kym-cdn.com/photos/images/newsfeed/001/430/367/007.gif" alt="...." class="img-fluid">
{% endblock leftcol %} 

